<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Quotes</title>
    </head>
    <body>
        <h1>Add a Quote</h1>
        <form #quoteForm="ngForm" (submit)="createQuote()">
            <textarea name="content" minlength="4" #content="ngModel" required [(ngModel)]="quote.content"></textarea>
            <p>Author <input type="text" minlength="1" #author="ngModel" required name="author" [(ngModel)]="quote.author"/></p>
            <input type="submit" [disabled]="!quoteForm.form.valid" value="Add your quote!" />
        </form>
        <h1>Quotes list</h1>
        <div class="quote" *ngFor="let q of quotes; let idx = index">
            <div class="quote_body">
                <p>"{{ q.content }}"</p>
                <p>-{{ q.author }}</p>
            </div>
            <span *ngIf="q.votes >= 0"> +{{ q.votes }} </span>
            <span *ngIf="q.votes < 0"> {{ q.votes }} </span>
            <div class="actions">
                <button (click)="upvote(q)" class="upvote">Vote Up</button>
                <button (click)="downvote(q)" class="downvote">Vote Down</button>
                <button (click)="deleteQuote(idx)" class="delete">Delete</button>
            </div>
        </div>
    </body>
</html>
